################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/New folder (2)/FileContentIndex/3ac4996e-edbb-4094-b559-70ffa1e0915b.vsidx
/.vs/New folder (2)/FileContentIndex/499078bd-e068-46fb-b3c0-2d79319865a8.vsidx
*.vsidx
